.btn{
    background-color: limegreen;
    color:white;
    border:1px solid white;
    padding: 0.5rem 1rem;
    font-family: Arial;
    text-transform: uppercase;
    margin: 0.5rem;
    a{
        color:white;
    }
    &:hover{
        background-color: green;
    }
    &.primary{
        background-color:limegreen;
        color:white;
    }
    &.secondary{
        background-color: white;
        color:limegreen;
        border:1px solid limegreen;
    }
}